<html>
<title>Opening and Closing Times</title>
{{distance}}km ACP BREVET
<table>
	<tr>
		<th>Checkpoint</th>
		<th>Location</th>
		<th>Open Time</th>
		<th>Close Time</th>
	</tr>
	{% for c in checkpoints %}
	<tr>
		<td style="border-spacing: 5px">{{c.km}}km</td>
		<td style="border-spacing: 5px">{{c.location}}</td>
		<td style="border-spacing: 5px">{{c.open}}</td>
		<td style="border-spacing: 5px">{{c.close}}</td>
	</tr>
	{% endfor %}
</table>
</html>
